*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', 'sans-sarif';
color: #fff;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', 'sans-sarif';
}
#nav{
    height: 145px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding:0 100px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;  
    z-index: 999;  
}
#nav a{
    text-decoration: none;
}

#nav img{
    height: 65px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.9;
}

#nav>h4>a:hover{
    color: black;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

#page1{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#page1 h1{
    font-size: 91px;
    font-weight: 800;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}


#page1 h3{
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: sans-serif, Montserrat;

}

#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    font-family: sans-serif, Montserrat;
}

#circle{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #95c11e;
    position: absolute;
    bottom: 0px;
    left: -40px;
}
#circle a{
    text-decoration: none;
}

.ri-arrow-down-line{
    font-size: 2.5em; 
    line-height: 4.0em; 
    vertical-align: -.0567em;
}

#circle:hover{
    zoom: 50%;
    background-color: #95c11e;
    bottom: 50px;
    left:0.1px;
    animation-timing-function: linear;
}